
#Group1{
	transform: translate(-20%, 0);
	animation: moveStar 3s 1s both;
}

#Group2{
	transform: translate(30%, -10%);
	animation: moveStar 3s 1s both;
}
@keyframes moveStar{
	100%{
		transform: unset;
	}
}
.fondo{
	background-image: url('../assets/fondo1.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* NAVBAR */
.navbarfondo{
	--bs-bg-opacity: 0 !important;
}
.nav-link{
	color: black !important;
}
.logo:hover{
	transform: scale(1.03);
	transition: all .3s;
}
.nav-item:hover{
	transform: scale(1.1);
	transition: all .3s;
}

/* ExperienciaLaboral */
.text-titulo{
    color: #920092;
}
.linea{
    border-left: 3px solid #920092 !important;
}
.card-exper{
    transition: all 0.7s !important;
    box-shadow: 3px 3px 3px 3px #f0f0f0;
}
.card-exper:hover{
    transform: scale(1.02) !important;
    box-shadow: 3px 3px 3px 1px #920092;
}	

/*x-small*/
@media (max-width: 576px){
	.letra{
		color: black;
	}
.navbarfondo{
	--bs-bg-opacity: 1 !important;
	}
#Group1{
	transform: translate(-20%, 0);
	animation: moveStar 3s 2s both;
}

#Group2{
	transform: translate(30%, -10%);
	animation: moveStar 3s 2s both;
}
}
